@import 'libs/bootstrap.min';
@import 'libs/slick';

@import "base/variables";

*	{
	font-family: 'Roboto', sans-serif;
}
.title {
	color: #2e2e2e;
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.divider {
	width: 148px;
	height: 1px;
	background-color: #ec644b;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 17px;
}

.feed-form {
	margin-top: 36px;
	display: flex;
	flex-direction: column;
	width: 300px;
	input {
		height: 50px;
		border-radius: 5px;
		background-color: #ffffff;
		margin-bottom: 15px;
		border: none;
		padding: 0 20px;
		color: #4b4b4b;
		font-size: 14px;
		font-weight: 300;
		&:nth-child(3) {
			margin-bottom: 20px;
		}
	}
}

@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/delivery';
@import 'blocks/agent';
@import 'blocks/price';
@import 'blocks/consultation';
@import 'blocks/manager';
@import 'blocks/work_us';
@import 'blocks/feed';
@import 'blocks/question';
@import 'blocks/footer';
@import 'blocks/circle';
@import 'blocks/modal';