.question {
  padding: 62px 0 79px 0;
  background: url('../../img/bg5.jpg') center center / cover no-repeat;
  min-height: 438px;
  &__feedback {
    max-width: 896px;
    height: 68px;
    background-color: #25333c;
    margin: 0 auto;
  }
  &__title {
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 12px;  
    span {
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__inputs {
    max-width: 896px;
    height: 297px;
    background-color: rgba(255,255,255, 0.7);
    margin: 0 auto;
  }
  &__form {
    text-align: center;
    input {
      width: 268px;
      height: 45px;
      border: 1px solid rgba(0, 0, 0, 0.21);
      background-color: #ffffff;
      margin-top: 18px;
      padding-left: 28px;
    }
    textarea {
      width: 813px;
      height: 71px;
      border: 1px solid rgba(0, 0, 0, 0.21);
      background-color: #ffffff;
      margin-top: 20px;
      padding-left: 25px;
      padding-top: 7px;
      resize: none;
    }
  }
}

@media (max-width: 991px) {
  .question {
    textarea {
      width: 550px;
    }
  }
}

@media (max-width: 767px) {
  .question {
    &__inputs {
      height: 370px;
    }
    textarea {
      width: 270px;
    }
  }
}